{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Soins
{% endblock %}

{% block body %}
    <section class="displayFlexCenter">
        <div class="menuBdd container displayFlex">
            {% for healthcare in healthcare %}
                {{ healthcare.wording }}
                {{ healthcare.price }}
                {{ healthcare.category.id }}
                {{ dump(healthcare) }}
            {% endfor %}
        </div>
    </section>
{% endblock %}