{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Soins
{% endblock %}

{% block body %}
    <div>
        {% for healthcare in healthcare %}
            <div>
                {{ healthcare.wording }}
            </div>
        {% endfor %}
    </div>

{% endblock %}