{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Soins
{% endblock %}

{% block body %}
    <section class="displayFlexCenter">
        <div class="menuBdd container displayFlex">
            {% for healthcare in healthcare %}
                <div class="article xLarge-5 large-5 medium-6 small-12">
                    <div>
                        <h2 class="menuBddTitle textCenter"><a href="{{ path('admin_healthcare', {'id':healthcare.id}) }}">{{ healthcare.wording }}</a></h2>
                    </div>
                    <div class="menuCrud displayFlex">
                        <div>
                            <p class="update"><a href="{{ path('admin_update_healthcare', {'id':healthcare.id}) }}">Modifier</a></p>
                        </div>
                        <div>
                            <p class="delete"><a href="{{ path('admin_delete_healthcare', {'id':healthcare.id}) }}">Supprimer</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}