{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Soins
{% endblock %}

{% block body %}
    <div>
        <form name="search" action="{{ path('admin_search_healthcare') }}" method="get">
            <input type="search" name="wording">
            <input type="submit" value="Rechercher">
        </form>
    </div>

    <div>
        {% for healthcare in healthcare %}
            <div>
                <p>{{ healthcare.wording }}</p>
            </div>
            <div>
                <img src="{{ asset('uploads/healthcare/'~ healthcare.picture) }}">
            </div>
            <div>
                <p>{{ healthcare.price.value }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}