.articlesLeft,
.articlesRightEven {
  width: 40%;
}

.articlesRight,
.articlesLeftEven {
  width: 40%;
}

.articlesBlueBg {
  background-color: $color1;
  color: white;
}

.articlesSection > .articlesLeftEven {
  order: 1;
}

.articlesSection > .articlesRightEven {
  order: 2;
}

.articlesInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.articlesLoop {
  padding: 3% 0;
}

.articlesTitle {
  margin-top: 6%;
  margin-bottom: 3%;
}



