.articlesLoop {
  margin: 3% 0;
}

.articlesLoop:nth-child(2n)  {
  background-color: $color1;
  color: white;
  padding: 3% 0;
}

.articlesLoop:nth-child(2n) .articlesImgDiv {
  order: -1;
}

.articlesLoop:nth-child(2n) .button p {
  background-color: white;
  color: $color1;
}

.articleContent {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.articlesInfos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articlesImgDiv img {
  height: 25vw;
}



