.articleImg {
  float: right;
  margin: 0 0 3% 3%;
  }

.articleImg p {
  margin: 0;
  font-style: italic;
}

.articleTitle {
  margin: 3% 0 6% 0;
}

.searchArticleByName {
  text-align: right;
  margin: 1% 0;
}

.articleImgDiv img {
  height: 30vw;
}