/*********************************** Body **********************************/


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontfamily1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: $fontfamily2;
  margin: 0;
}

/*********************************** Header **********************************/


.header {
  background-color: $color1;
  border-bottom: 2px $color4 solid;
}

.headerMenu {
  display: flex;
}

.baseLogo {
  width: 16%;
  padding: 0.5% 0;
}

.baseMenu {
  width: 84%;
  display: flex;
}

.baseMenuDiv {
  width: 100%;
}

.baseMenuContact,
.baseMenuList {
  text-transform: uppercase;
}

.baseMenuList li,
.baseMenuContact li{
  margin: 0 1%;
}

.baseMenuList {
  font-size: 20px;
}

.baseMenuContact ul {
  display: flex;
  list-style: none;
  color: white;
}

.baseAppointment {
  color: $color4;
}

.baseMaps {
  color: white;
}

.baseMenuList ul{
  display: flex;
}

.baseMenuContact ul,
.baseMenuList ul {
  display: flex;
  justify-content: flex-end;
}

.baseNav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.baseMenuContact ul li {
  font-size: 13px;
}

/*********************************** Footer **********************************/


.footer {
  background-color: $color1;
  border-top: 2px $color4 solid;
  padding: 0.5% 0;
}

.footerMenu {
  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
}

.footerMenuContact,
.footerMenuName,
.footerMenuLogo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerMenuContact ul li {
  text-align: right;
}

.footerLogo {
  width: 50%;
}

.legal {
  color: white;
}

.footerMenuContact ul li,
.footerMenuName ul li {
  margin: 1% 0;
}

/*********************************** Javascript **********************************/

.btnHeaderLogin {
  transition-duration: 0.5s;
  color: white;
}

.currentPath {
  color: $color4;
}

.btnHeaderOver{
  color: $color4;
}

.btnHeaderWrong {
  color: darkgrey!important;
}

.menuPopUp {
  position: absolute;
  top: 12%;
  right: 10%;
  background-color: $color1;
  width: 50%;
  border: 2px solid $color4;
  z-index: 1000;
}

.menuPopUp ul {
  width: 100%;
}

.menuPopUp ul li {
  font-size: 22px;
  padding: 5% 10%;
  color: white;
}

.menuPopUp ul li:not(last-child) {
  border: 1px solid white;
}

.menuPopUp ul li a {
  color: white;
}
