.healthcareTitles {
  justify-content: space-between;
}

.healthcareMainSection {
  justify-content: center;
}

.healthcareImgWording {
  justify-content: space-between;
}

.healthcareTitle {
  font-size: 20px;
}

.healthcareDivPx {
}