.backgroundImage {
  background-image: url("../../../uploads/pictures/cabinet1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-position: bottom;
  border-bottom: 2px solid $color4;
}

.filterHome {
  color: white;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.gary {
  margin-bottom: 6%;
}

.homeTitle {
  text-align: center;
  font-size: 40px;
}

.imgHomeSneakers,
.imgHomeChild,
.imgHomeSport {
  width: 300px;
}

.healthcareMainSection {
  color: $color1;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.healthcareTitle {
  text-align: center;
  border-bottom: solid 1px $color1;
  padding-bottom: 3%;
  width: 60%;
}

.healthcareSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.blueBg {
  background-color: $color1;
  color: white;
  display: flex;
  justify-content: center;
  border-top: 2px solid $color4;
  border-bottom: 1px solid $color4;
}

.podologyResume {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.podologyTitle {
  text-align: center;
  margin-top: 5%;
  padding-bottom: 3%;
  border-bottom: $color4 solid 2px;
  width: 60%;
}

.containerPodology {
  width: 70%;
}

.podologyText {
  line-height: 1.5em;
}

.podologyContent {
  display: flex;
  justify-content: center;
  width: 85%;
}

.borderHealthcare,
.borderPodology {
  display: flex;
  justify-content: center;
}

.articleMainSection {
  display: flex;
  justify-content: center;
  color: $color1;
  margin-bottom: 5%;
}

.articlescenter {
  display: flex;
  justify-content: center;
}

.articlesTitle {
  width: 60%;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 3%;
  border-bottom: $color4 solid 2px;
}

.imgHomeArticles {
  width: 300px;
}

.contentCenter {
  display: flex;
  justify-content: space-between;
}

.imgSmall {
  background-color: rgba($color2, 0.5);
}

.opacity {
  transition-duration: 1s;
  opacity: 50%;
  border: solid 2px $color3;
}

.popup {
  background-color: $color1;
  color: white;
  position: fixed;
  right: 2%;
  top: 24%;
  padding: 0 1%;
  border-radius: 5px;
  border-bottom: $color4 2px solid;
  border-left: $color4 2px solid;
  transition-duration: 1s;
}
.popup a {
  color: $color4;
  text-decoration: none;
  text-align: center;
}