/************************************* Background Image ***********************************************/

.backgroundImage {
  background-image: url("../../../uploads/pictures/picture12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  padding: 3% 0;
}

.homePresentationWhite {
  color: white;
  padding: 10% 0;
}

.name {
  font-size: 2.5rem;
}

.homeCertification {
  margin-bottom: 2%;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.homePresentationInfos {
  text-transform: uppercase;
  font-size: 1.5rem;
}

/************************************* Catégories ***********************************************/
.homeCategoryImg {
  height: 30vh;
}

.homeCategoryFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeCategoryDiv {
  flex-direction: column;
  justify-content: space-between;
  color: $color1;
}

/************************************* Consultation ***********************************************/
.homeConsultation {
  background-color: $color1;
  color: white;
}

.homeConsultationText {
  padding: 0 5%;
}


/************************************* Articles ***********************************************/
.homeArticleImg {
  height: 300px;
  width: 100%;
}

.homeArticlesTitles {
  font-size: 1.5rem;
}

/************************************* Tarifs ***********************************************/
.homeTarifsDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeTarifs {
  background-color: $color1;
  color: white;
}

/************************************* Page ***********************************************/
.homeTitles {
  font-size: 2rem;
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: bolder;
}

.homeTitlesSub {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.homeSection,
.homeCategory {
  padding: 2% 0;
}

.homeConsultation,
.homeTarifs {
  padding: 0.5% 0;
}

/************************************* Javascript ***********************************************/
.popUpDocto {
  background-color: #0596de;
  color: white;
  position: fixed;
  right: 2%;
  top: 24%;
  padding: 0 1%;
  border-radius: 5px;
  border-bottom: white 2px solid;
  border-left: white 2px solid;
  transition-duration: 1s;
  text-align: center;
}