/************************************* Background Image ***********************************************/

.backgroundImage {
  background-image: url("../../../uploads/pictures/cabinet1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 5% 0;
  border-bottom: 2px solid $color4;
}

.nameHome {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 1%;
}

.professionHome {
  padding-bottom: 5%;
  font-size: 20px;
  text-transform: uppercase;
}

/************************************* Healthcare ***********************************************/


.homeHealthcareDiv {
  width: 30%;
}

/************************************* Podology ***********************************************/


.blueBackGround {
  background-color: $color1;
  color: white;
  justify-content: center;
}

.blueBackGround {
  padding: 5% 0;
}

.podology {
  text-align: justify;
}


/************************************* Articles ***********************************************/



.homeArticleDiv {
  width: 30%;
}

.homeArticlesSubtitles {
  margin: 0;
}

.homeArticlesTitles {
  margin-bottom: 3%;
}

/************************************* Page ***********************************************/



.homeHealthcare,
.homeArticle {
  margin: 5% 0;
}

.homeTitle {
  margin-bottom: 5%;
}
.imgHome {
  margin-bottom: 2%;
}

/************************************* Javascript ***********************************************/
.popUpDocto {
  background-color: #0596de;
  color: white;
  position: fixed;
  right: 2%;
  top: 24%;
  padding: 0 1%;
  border-radius: 5px;
  border-bottom: white 2px solid;
  border-left: white 2px solid;
  transition-duration: 1s;
  text-align: center;
}