.loginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

.loginTitle {
  font-weight: bolder;
  color: $color1;
  margin-bottom: 20%;
}

.formFields {
  padding: 5% 0;
  text-align: center;
}

.formOu {
  padding: 15% 0;
}

.formFields .btn1 {
  text-transform: uppercase;
}

.ou {
  background-color: $color4;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
}

.ou:before,
.ou:after {
  position: absolute;
  top: 50%;
  width: 200%;
  height: 1px;
  background-color: $color4;
  content:"";
}

.ou:before {
  left: -200%;
}

.ou:after {
  left: 100%;
}

.formLogin {
  border-radius: 10px;
  padding: 3% 2%;
  background-color: rgba($color5, .1);
  position: relative;
}

.loginConnect {
  cursor: pointer;
}

.alreadyLogin {
  position: absolute;
  top: 11vh;
  background-color: green;
  z-index: 10;
}

.errorLogin {
  position: absolute;
  top: 11vh;
  background-color: green;
  z-index: 10;
}

