.loginSection {
  justify-content: center;
}

.loginFormBorder {
  border: 1px $color1 solid;
  margin: 3% 0;
  padding: 3% 0;
}

.loginForm {
  justify-content: center;
}

.loginTitle {
  text-align: center;
  margin: 0;
}

.loginFormLogo {
  justify-content: center;
  margin: 5% 0;
}

.loginFormCenter {
  justify-content: center;
}

.loginFormBtn {
  justify-content: center;
  margin-top: 10%;
}

.loginFormFields {
  margin: 5% 0;
}


