@mixin btn($color, $bgcolor) {
  background-color: $bgcolor;
  color: $color;
  border-radius: 4px;
  height: 30px;
  width: 150px;
  font-family: $fontfamily1;
  display: flex;
  align-items: center;
  justify-content: center;
}

