body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontfamily2;
  color: $color1;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5{
  text-transform: uppercase;
  font-family: $fontfamily2;
  margin: 0;
}

.container {
  width: 90%;
}

.imgResp {
  width: 100%;
  height: auto;
}

.textCenter {
  text-align: center;
}

.textJustify {
  text-align: justify;
}

.noMargin {
  margin: 0;
}

.yellowBorder {
  border: 2px $color4 solid;
}

.yellowTitle {
  color: $color4
}

.whiteTitle {
  color: white;
}

.btn1 {
  @include btn(white, $color1);
  margin: 0;
}

.btn1 a {
  color: white;
}

.btn2 {
  @include btn($color1, white);
}

.btn2 a {
  color: $color1;
}

.displayFlexCenter {
  display: flex;
  justify-content: center;
}

.displayFlexBetween {
  display: flex;
  justify-content: space-between;
}

.displayFlexAround {
  display: flex;
  justify-content: space-around;
}