.container {
  width: 80%;
}

.imgResp {
  width: 100%;
  height: auto;
}

.textCenter {
  text-align: center;
}

.displayNone {
  display: none;
}

.yellowBorder {
  border: 2px $color4 solid;
}

.yellowTitle {
  color: $color4
}

.whiteTitle {
  color: white;
}

.btn1 {
  @include btn(white, $color1, $color4);
}

.btn2 {
  @include btn($color1, white, $color4);
}

.parent {
  display: flex;
}

.child {
  margin-right: 30px;
}

.displayFlexCenter {
  display: flex;
  justify-content: center;
}

.displayFlex {
  display: flex;
}