@media only screen and (min-width: 1920px) {
  /* For big desktop: */
  .bDesktop1 {width: 8.33%;}
  .bDesktop2 {width: 16.66%;}
  .bDesktop3 {width: 25%;}
  .bDesktop4 {width: 33.33%;}
  .bDesktop5 {width: 41.66%;}
  .bDesktop6 {width: 50%;}
  .bDesktop7 {width: 58.33%;}
  .bDesktop8 {width: 66.66%;}
  .bDesktop9 {width: 75%;}
  .bDesktop10 {width: 83.33%;}
  .bDesktop11 {width: 91.66%;}
  .bDesktop12 {width: 100%;}

  .baseMenuResp {
    display: none;
  }

  .menuPopUp {
    display: none;
  }

  .menuPopOut {
    display: none;
  }

  .btnBurger {
    display: none;
  }

  .searchLogo {
    display: none;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  /* For desktop: */
  .desktop1 {width: 8.33%;}
  .desktop2 {width: 16.66%;}
  .desktop3 {width: 25%;}
  .desktop4 {width: 33.33%;}
  .desktop5 {width: 41.66%;}
  .desktop6 {width: 50%;}
  .desktop7 {width: 58.33%;}
  .desktop8 {width: 66.66%;}
  .desktop9 {width: 75%;}
  .desktop10 {width: 83.33%;}
  .desktop11 {width: 91.66%;}
  .desktop12 {width: 100%;}

  .baseMenuResp {
    display: none;
  }

  .menuPopUp {
    display: none;
  }

  .menuPopOut {
    display: none;
  }

  .btnBurger {
    display: none;
  }

  .formLogin {
    padding: 1% 2%;
  }

  .baseMenuBtn {
    font-size: 1.2rem;
  }

  .baseMenuInfos {
    font-size: 0.8rem;
  }

  .footerMenu {
    font-size: 0.8rem;
  }

  .formFieldsSignin {
    padding: 2% 0;
  }

  .signinTitle {
    margin-bottom: 5%;
  }

  .formSignin {
    padding: 2% 2%;
  }

  .backgroundImage {
    padding: 11% 0;
  }

  .searchLogo {
    display: none;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1279px) {
  /* For little desktop: */
  .lDesktop1 {width: 8.33%;}
  .lDesktop2 {width: 16.66%;}
  .lDesktop3 {width: 25%;}
  .lDesktop4 {width: 33.33%;}
  .lDesktop5 {width: 41.66%;}
  .lDesktop6 {width: 50%;}
  .lDesktop7 {width: 58.33%;}
  .lDesktop8 {width: 66.66%;}
  .lDesktop9 {width: 75%;}
  .lDesktop10 {width: 83.33%;}
  .lDesktop11 {width: 91.66%;}
  .lDesktop12 {width: 100%;}

  .baseMenuResp {
    display: none;
  }

  .menuPopUp {
    display: none;
  }

  .menuPopOut {
    display: none;
  }

  .btnBurger {
    display: none;
  }

  .formLogin {
    padding: 1% 1%;
  }

  .formOu {
    padding: 5%;
  }

  .loginTitle {
    margin-bottom: 10%;
  }

  .formFields {
    padding: 2% 0;
  }

  .baseMenuBtn {
    font-size: 1rem;
  }

  .baseMenuInfos {
    font-size: 0.6rem;
  }

  .footerMenu {
    font-size: 0.6rem;
  }

  .formFieldsSignin {
    padding: 1% 0;
  }

  .signinTitle {
    margin-bottom: 3%;
  }

  .formSignin {
    padding: 1% 1%;
  }

  .backgroundImage {
    padding: 12% 0;
  }

  .searchLogo {
    display: none;
  }
}

@media only screen and (min-width: 750px) and (max-width: 979px) {
  /* For big tablets: */
  .bTablet1 {width: 8.33%;}
  .bTablet2 {width: 16.66%;}
  .bTablet3 {width: 25%;}
  .bTablet4 {width: 33.33%;}
  .bTablet5 {width: 41.66%;}
  .bTablet6 {width: 50%;}
  .bTablet7 {width: 58.33%;}
  .bTablet8 {width: 66.66%;}
  .bTablet9 {width: 75%;}
  .bTablet10 {width: 83.33%;}
  .bTablet11 {width: 91.66%;}
  .bTablet12 {width: 100%;}

  .baseMenuResp {
    display: none;
  }

  .menuPopUp {
    display: none;
  }

  .menuPopOut {
    display: none;
  }

  .btnBurger {
    display: none;
  }

  .baseMenuBtn {
    font-size: 1rem;
  }

  .baseMenuInfos {
    font-size: 0.8rem;
  }

  .footerMenu {
    font-size: 0.8rem;
  }

  .searchLogo {
    display: none;
  }


}

@media only screen and (min-width: 520px) and (max-width: 749px) {
  /* For little tablets: */
  .tablet1 {width: 8.33%;}
  .tablet2 {width: 16.66%;}
  .tablet3 {width: 25%;}
  .tablet4 {width: 33.33%;}
  .tablet5 {width: 41.66%;}
  .tablet6 {width: 50%;}
  .tablet7 {width: 58.33%;}
  .tablet8 {width: 66.66%;}
  .tablet9 {width: 75%;}
  .tablet10 {width: 83.33%;}
  .tablet11 {width: 91.66%;}
  .tablet12 {width: 100%;}

  .baseMenu {
    display: none;
  }

  .headerMenu .btnBurger {
    order: -1;
  }

  .footerLogo {
    display: none;
  }

  .footerInfos {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .footerContact {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .footerMenu {
    flex-wrap: wrap;
  }

  .homeCategories {
    flex-wrap: wrap;
  }

  .homeCategoryInfos {
    display: flex;
    justify-content: center;
  }

  .homeCategoryImg {
    height: 50vw;
  }

  .homeTitles {
    font-size: 5vw;
  }

  .homeTitlesSub {
    font-size: 4vw;
  }

  .name {
    font-size: 9vw;
    margin-bottom: 1%;
  }

  .homeCertification {
    font-size: 3vw;
  }

  .homePresentationInfos {
    font-size: 4vw;
  }

  .homeCertification {
    margin-bottom: 6%;
  }

  .burger {
    width: 60%;
  }

  .alertMessageText {
    font-size: 2vw;
  }

  .homeConsultationText {
    order: 2;
  }

  .homeBlocOneDiv {
    flex-wrap: wrap;
  }

  .homeArticlesWrap {
    flex-wrap: wrap;
  }

  .homeArticleInfos {
    width:calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
  }

  .textAlignResp {
    text-align: center;
  }

  .homeArticleDiv {
    height: 50vw;
    margin-bottom: 6%;
  }

  .homeArticleImg {
    height: 50vw;
  }

  .homeBlocOneImg {
    height: 50vw;
  }

  .homeArticleInfos p {
    font-size: 1.8vw;
  }

  .homeArticleInfos h3 {
    font-size: 2.3vw;
  }

  .homeTarifsResp {
    flex-wrap: wrap;
    text-align: center;
  }

  .homeTarifsText {
    font-size: 3vw;
  }

  .homeBlocTwoDiv {
    flex-wrap: wrap;
  }

  .homeBlocTwoImg {
    height: 50vw;
  }

  .footerLogo {
    display: none;
  }

  .footerMenu {
    flex-wrap: wrap;
  }

  .footer {
    height: auto;
    padding-top: 5%;
  }

  .footerInfos {
    display: block;
    text-align: center;
  }

  .footerContact li {
    text-align: center;
  }

  .footerContact {
    display: block;
  }

  .footerLogos {
    order: -1;
    margin-bottom: 5%;
  }

  .homeTitles {
    margin: 6% 0;
  }

  .homeTarifsDiv {
    margin-bottom: 5%;
  }

  .homeSectionMargin {
    margin: 0;
    padding: 0;
  }

  .homeCategoryDiv {
    margin-bottom: 6%;
  }

  .seeMoreArticles {
    margin-bottom: 6%;
  }

  .footer {
    padding-bottom: 2%;
  }

  .articlesLoopWrap {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .articlesImgDiv img {
    height: 50vw;
  }

  .button {
    display: flex;
    justify-content: center;
  }

  .articlesImgDiv {
    order: -1;
  }

  .searchLogo {
    position: absolute;
    right: 2%;
    top: 12vh;
  }

  .searchArticleByNameBloc {
    position: absolute;
    top: 12vh;
    right: -100%;
    transition: 0.3s ease;
  }

  .inputSubmit {
    display: none;
  }

  .searchArticleByNameBloc.active {
    right: 12%;
    transition: 0.3s ease;
  }
}

@media only screen and (min-width: 260px) and (max-width: 519px) {
  /* For mobile: */
  .phone1 {width: 8.33%;}
  .phone2 {width: 16.66%;}
  .phone3 {width: 25%;}
  .phone4 {width: 33.33%;}
  .phone5 {width: 41.66%;}
  .phone6 {width: 50%;}
  .phone7 {width: 58.33%;}
  .phone8 {width: 66.66%;}
  .phone9 {width: 75%;}
  .phone10 {width: 83.33%;}
  .phone11 {width: 91.66%;}
  .phone12 {width: 100%;}

  .baseMenu {
    display: none;
  }

  .headerMenu .btnBurger {
    order: -1;
  }

  .footerLogo {
    display: none;
  }

  .footerInfos {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .footerContact {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .footerMenu {
    flex-wrap: wrap;
  }

  .homeCategories {
    flex-wrap: wrap;
  }

  .homeCategoryInfos {
    display: flex;
    justify-content: center;
  }

  .homeCategoryImg {
    height: 50vw;
  }

  .homeTitles {
    font-size: 5vw;
  }

  .homeTitlesSub {
    font-size: 4vw;
  }

  .name {
    font-size: 9vw;
    margin-bottom: 1%;
  }

  .homeCertification {
    font-size: 3vw;
  }

  .homePresentationInfos {
    font-size: 4vw;
  }

  .homeCertification {
    margin-bottom: 6%;
  }

  .burger {
    width: 60%;
  }

  .alertMessageText {
    font-size: 3vw;
  }

  .homeConsultationText {
    order: 2;
  }

  .homeBlocOneDiv {
    flex-wrap: wrap;
  }

  .homeArticlesWrap {
    flex-wrap: wrap;
  }

  .homeArticleInfos {
    width:calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
  }

  .textAlignResp {
    text-align: center;
  }

  .homeArticleDiv {
    height: 50vw;
    margin-bottom: 6%;
  }

  .homeArticleImg {
    height: 50vw;
  }

  .homeBlocOneImg {
    height: 50vw;
  }

  .homeArticleInfos p {
    font-size: 2.5vw;
  }

  .homeArticleInfos h3 {
    font-size: 3vw;
  }

  .homeTarifsResp {
    flex-wrap: wrap;
    text-align: center;
  }

  .homeTarifsText {
    font-size: 4vw;
  }

  .homeBlocTwoDiv {
    flex-wrap: wrap;
  }

  .homeBlocTwoImg {
    height: 50vw;
  }

  .footerLogo {
    display: none;
  }

  .footerMenu {
    flex-wrap: wrap;
  }

  .footer {
    height: auto;
    padding-top: 5%;
  }

  .footerInfos {
    display: block;
    text-align: center;
  }

  .footerContact li {
    text-align: center;
  }

  .footerContact {
    display: block;
  }

  .footerLogos {
    order: -1;
    margin-bottom: 5%;
  }

  .homeTitles {
    margin: 6% 0;
  }

  .homeTarifsDiv {
    margin-bottom: 5%;
  }

  .homeSectionMargin {
    margin: 0;
    padding: 0;
  }

  .homeCategoryDiv {
    margin-bottom: 6%;
  }

  .seeMoreArticles {
    margin-bottom: 6%;
  }

  .header {
    height: 8vh;
  }

  .alertMessage {
    top: 8vh;
  }

  .menuPopUp {
    top: 8vh;
    height: 92vh;
  }

  .menuPopUp.active {
    top: 8vh;
    height: 92vh;
  }

  .menuPopOut {
    top: 8vh;
    height: 92vh;
  }

  .menuPopOut.active {
    top: 8vh;
    height: 92vh;
  }

  .footer {
    padding-bottom: 2%;
  }

  .articlesLoopWrap {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .articlesImgDiv img {
    height: 50vw;
  }

  .button {
    display: flex;
    justify-content: center;
  }

  .articlesLoop {
    margin: 0;
  }

  .articlesImgDiv {
    order: -1;
  }

  .inputSubmit {
    display: none;
  }

  .searchArticleByNameBloc {
    display: flex;
    justify-content: flex-end;
    margin: 3% 0;
    align-items: center;
  }

  .inputSearch {
    display: none;
    transition: 0.3s ease;
  }

  .inputSearch.active {
    display: block;
    transition: 0.3s ease;
  }

  .searchArticleByName {
    margin: 0 3% 0 0;
  }

  .searchLogo {
    position: relative;
    z-index: 9999;
  }
}
