.signinSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

.signinTitle {
  font-weight: bolder;
  color: $color1;
  margin-bottom: 20%;
}

.formFields {
  padding: 5% 0;
  text-align: center;
}

.formSignin {
  border-radius: 10px;
  padding: 3% 2%;
  background-color: rgba($color5, .1);
  position: relative;
}

.signinConnect {
  cursor: pointer;
}

.errorSignin {
  position: absolute;
  background-color: red;
  width: 100%;
  text-align: center;
  top: 11vh;
  left: 0;
  z-index: 11;
}

.formFieldsSignin {
  padding: 5% 0;
  text-align: center;
}