.signinSection {
  justify-content: center;
}

.signinFormBorder {
  border: 1px $color1 solid;
  margin: 3% 0;
  padding: 3% 0;
}

.signinForm {
  justify-content: center;
}

.signinTitle {
  text-align: center;
  margin: 0;
}

.signinFormLogo {
  justify-content: center;
  margin: 5% 0;
}

.signinFormCenter {
  display: flex;
  justify-content: center;
}

.signinFormBtn {
  justify-content: center;
  margin-top: 10%;
}

.signinFormFields {
  margin: 5% 0;
}
