{% extends 'front/common/base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <main class="backgroundImage">
        <div class="filterHome">
            <h1 class="gary">Gary Leymarie</h1>
            <p>Podologue à Poissy</p>
            <p>6 rue du Petit Marché, 78 300</p>
            <p>Diplômé d'Etat de pédicure-podologique en 2011</p>
            <p>Ouvert du Lundi au vendredi de :</p>
            <p>09h00 à 19h00</p>
        </div>
    </main>

    <section class="healthcareMainSection">
        <div class="container">
            <div class="borderHealthcare">
                <h2 class="healthcareTitle">Les soins proposés</h2>
            </div>
            <div class="healthcareSection">
                <div class="container healthcare">
                    <div>
                        <div>
                            <div>
                                <img class="imgresp imgHomeChild" src="{{ asset('uploads/pictures/healthcare3.jpg') }}" alt="">
                            </div>
                            <div>
                                <p>Podologie de l'enfant</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <img class="imgresp imgHomeSport" src="{{ asset('uploads/pictures/healthcare1.jpg') }}" alt="">
                            </div>
                            <div>
                                <p>Podologie du sport</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="imgHomeSneakers">
                                <img class="imgresp" src="{{ asset('uploads/pictures/healthcare2.jpg') }}" alt="">
                            </div>
                            <div>
                                <p>Création de semelles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blueBg">
        <div class="container">
            <div class="borderPodology">
                <h2 class="podologyTitle">La podologie</h2>
            </div>
            <div class="podologyResume">
                <div class="podologyContent">
                    <div>
                        <p>
                            Le sportif occasionnel, régulier ou compétiteur se doit de pratiquer son activité avec un équipement adéquate afin d’éviter toute pathologie pouvant devenir handicapante.
                        </p>
                        <p>
                            La chaussure et le pied jouent donc un rôle majeur dans de nombreux sports, puisqu’ils sont le lien direct entre le corps et le sol.
                        </p>
                        <p>
                            Le pied est composé de 28 os et 22 articulations (cheville comprise) et à un rôle d’amortissement, d’équilibre, de stabilité et de propulsion, ceci grâce à sa structure osseuse, ligamentaire et musculaire qui fonctionne de façon unie et coordonnée.
                        </p>
                        <p>
                            La chaussure protège, amortie, stabilise et oriente le geste sportif. Son choix est primordial et toute erreur de chaussage peut être fatale, on parle alors de technopathie.
                        </p>
                        <p>
                            Cependant, le rôle du podologue du sport ne se résume pas seulement à l’analyse du pied ou de la chaussure En effet le pied peut être à l’origine de nombreuses pathologies sus jacente (genoux, hanches, dos etc…) et vis versa.
                        </p>
                        <p>
                            C’est pourquoi l’analyse globale de la posture du patient et l’étude précise du geste sportif à l’aide d’outils d’analyse statique et dynamique est fondamental dans la compréhension de la pathologie du sportif (tapis de course, caméra, capteurs de marche, plateforme baropodométrique).
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}