{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Ajout de catégorie
{% endblock %}

{% block body %}
    <div>
        {{ form_start(formCategory) }}
        {{ form_end(formCategory) }}
    </div>
{% endblock %}