{% extends 'front/common/base.html.twig' %}

{% block title %}
    Soins
{% endblock %}

{% block body %}
    <section class="healthcareMainSection">
        <div class="container">
            <div class="xLarge-12 large-12 medium-12 small-12">
                <h1 class="healthcareSectionTitle fading textCenter">Les différents soins proposés</h1>
            </div>
            <div class="displayFlex healthcareTitles xLarge-12 large-12 medium-12 small-12">
                {% for healthcare in healthcare %}
                    <div class="healthcareDivPx xLarge-3 large-3 medium-6 small-12 fading">
                        <h2 class="healthcareTitle">{{ healthcare.wording }}</h2>
                    </div>
                {% endfor %}
            </div>

            <div class="displayFlex healthcareImgWording xLarge-12 large-12 medium-12 small-12">
                {% for healthcare in healthcare %}
                    <div class="xLarge-3 large-3 medium-12 small-12">
                        <div class="fading">
                            <img class="imgResp imgHome yellowBorder" src="{{ asset('uploads/healthcare/'~healthcare.picture) }}" alt="">
                        </div>
                        <div class="fading">
                            <p>{{ healthcare.price.value }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}