{% extends 'front/common/base.html.twig' %}

{% block title %}
    Soins
{% endblock %}

{% block body %}

    <section class="healthcareMainSection displayFlexCenter">
        <div class="container">
            <div>
                <h1 class="healthcareTitle textCenter">Les différents soins proposés</h1>
            </div>
            <div class="displayFlexBetween healthcareResp healthcareWrap">
                {% for healthcare in healthcare %}
                    <div class="healthcareHealthcares">
                        <h3 class="healthcareTitles">{{ healthcare.wording}}</h3>
                        <div class="healthcareJustifyResp">
                            <img class="imgResp imgHome yellowBorder" src="{{ asset('uploads/healthcare/'~healthcare.picture) }}" alt="">
                        </div>
                        <p class="healthcareCenterResp">{{ healthcare.price.value }} €</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}