{% extends 'front/common/base.html.twig' %}

{% block title %}
    Recherche des soins
{% endblock %}

{% block body %}
    <div>
        {% for healthcare in healthcare %}
            <div>
                <div>
                    <h2>{{ healthcare.wording }}</h2>
                </div>
                <div>
                    <p>{{ healthcare.price.value }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}