{% extends 'admin/common/base.html.twig' %}

{% block title %}
    Prix
{% endblock %}

{% block body %}

    <div>
        {% for price in prices %}
            <div>
                <div>
                   {{ price.value }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}