{% extends 'front/common/base.html.twig' %}

{% block title %}
    Prix
{% endblock %}

{% block body %}
    <div>
        {% for healthcare in healthcare %}
            <div>

                <div>
                    <p>{{ healthcare.wording }}</p>
                </div>
                <div>
                    <img src="{{ asset('uploads/healthcare/'~ healthcare.picture) }}" alt="">
                </div>
                <div>
                    <p>{{ healthcare.price.value }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}