.menuBddTitle a {
  color : black;
}

.menuBdd {
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  margin: 2% 0;
}

.menuCrud {
  justify-content: space-around;
}

.menuBddTitle {
  font-size: 24px;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
}