.adminAlertMessage {
  align-items: center;
}

.adminHeaderNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.adminHeaderNav li {
  list-style: none;
}

.adminDashBoard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.adminDashBoardDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.adminDashBoardBorder {
  border: 1px solid $color1;
  margin: 2% 0;
  padding: 2% 0;
}

.adminMainDashboard {
  border: 1px solid $color1;
}

.blocOne {
  border: 1px solid $color1;
}