.container {
  width: 90%;
}

.imgResp {
  width: 100%;
  height: auto;
}

.textCenter {
    text-align: center;
}

.displayFlex {
  display: flex;
}

.displayFlexCenter {
  display: flex;
  justify-content: center;
}

.btn1 {
  @include btn(white, $color1);
}

.btn2 {
  @include btn(white, $color1);
}

.btnUpdate {
  @include btn(black, green)
}

.btnDelete {
  @include btn(black, red);
}

.btnView {
  @include btn(white, blue);
}

.parent {
  display: flex;
}

.child {
  margin-right: 30px;

}


