$color1: #202D3C;
$color2: #3B608A;
$color3: #576F8A;
$color4: #FFAD12;

$fontfamily1: 'Montserrat', sans-serif;
$fontfamily2: 'Roboto Slab', serif;

$fontsize1: 18px;
$fontsize2: 16px;
$fontsize3: 14px;

